/* SCSS VARIABLES */

// Mixin viewport values
$media-mobile: 768px;
$media-desktop-small: 1040px;
$media-desktop-large: 1450px;

// Colors
$color-white:   #ffffff;
$color-red:     #ec1c23;
$color-black:   #000000;
$color-gray:    #504a4a;
$color-blue:    #518cca;
$color-orange:  #f78f3f;
$color-yellow:  #f3d403;