/* Colors */

// #e23636	(226,54,54)
// #000000	(0,0,0)
// #504a4a	(80,74,74)
// #518cca	(81,140,202)
// #f78f3f	(247,143,63)

$media-mobile: 768px;
$media-desktop-small: 1040px;
$media-desktop-large: 1450px;

$color-white:   #ffffff;
$color-red:     #ec1c23;
$color-black:   #000000;
$color-gray:    #504a4a;
$color-blue:    #518cca;
$color-orange:  #f78f3f;
$color-yellow:  #f3d403;