.description {
    text-align: center;
    margin: 10px 0;
    min-height: 20px;

    @include viewport(desktop-small) {
        margin: 0;
    }

    .text {
        font-size: .7rem;
        line-height: 15px;
        padding: 0 10px;
        transition: ease all .2s;

        @include viewport(tablet) {
            line-height: 13px;
        }

        @include viewport(desktop-small) {
            line-height: 15px;
        }

        &.hide {
            height: 0;
            opacity: 0;
        }

        &.show {
            position: relative;
            opacity: 1;
        }
    }

    .trigger {
        font-size: .8rem;
        line-height: 30px;
        text-decoration: underline;
        cursor: pointer;
    }
}